*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header__container {
    margin: 0 auto;
    padding: 0 27px 1px;   
    background-color: #14274A;
}

.top-header {
    margin-bottom: 20px;
}


.error {
    margin: 0 auto;
    max-width: 1000px;
    width: 100%;
    margin-bottom: 100px;
    padding: 40px 0 40px;
}

.error__title {
    font-family: Adobe Garamond Pro;
    font-style: normal;
    text-align: center;
    font-weight: bold;
    font-size: 60px;
    letter-spacing: -0.7px;
    color: #14274A;
}

.error__contact {
    margin: 23px 0;
}

.error__text {
    font-style: normal;
    font-weight: normal;
    text-align: center;
    font-size: 30px;
    line-height: 37px;
    /* max-width: 850px; */
    width: 100%;
    color: #14274A;
    margin-bottom: 26px;
}

.error__links {
    display:flex;
    justify-content: center;
    font-style: normal;
    font-weight: normal;
    text-align: center;
    font-size: 25px;
    line-height: 30px;
    color: #14274A;
}

.error__links .error__link+.error__link {
    margin-left: 20px;
}

.error__link svg{
    width: 60px;
    height: 60px;
}

@media (max-width: 1336px) {
    .rooms {
        padding: 0 86px 0;
    }
    
    .error__title {
        font-size: 48px;
        letter-spacing: -0.7px;
    }

    .error__text {
        font-size: 29px;
    }
}


@media (max-width: 1200px) {

    .error__text {
        font-size: 23px;
        margin-bottom: 24px;
        line-height: 21px;
    }

    .error__links {
        font-size: 18px;
        line-height: 26px;
    }

    .error__contact {
        margin: 13px 0;
    }

}


@media (max-width: 1046px) {

    .error__title {
        font-size: 35px;
        letter-spacing: -0.7px;
    }

    .error__text {
        font-size: 19px;
        line-height: 21px;
        margin-bottom: 15px;
    }

    .error__links {
        font-size: 16px;
        line-height: 26px;
    }

    .error__contact {
        margin: 7px 0;
    }

}


@media (max-width: 800px) {

    .error {
        margin-bottom: 70px;
    }    

    .error__title {
        font-size: 30px;
        letter-spacing: -0.7px;
    }

    .error__text {
        font-size: 16px;
        line-height: 15px;
        margin-bottom: 12px;
    }

    .error__links {
        font-size: 13px;
        line-height: 23px;
    }

    .error__contact {
        margin: 7px 0;
    }
    
}


@media (max-width: 576px) {

    .error__title {
        font-size: 28px;
    }

    .error__text {
        font-size: 13px;
        margin-bottom: 20px 0;
    }

    .error__links {
        font-size: 11px;
        line-height: 23px;
    }

}



