.footer {
    background: #14274A;
    position: relative;
}

.footer::before {
    content: "";
    display: block;
    position: absolute;
    background: url(../img/footer_element.svg);
    width: 144.5px;
    height: 53.5px;
    top: -52px;
    right: calc(50% - 72.25px);
}

.footer__container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1549px;
    margin: 0 auto;
    padding: 92px 0 66px;
}

.footer__logo-block {
    max-width: 330px;
    width: 100%;
}

.footer__logo-link {
    display: block;
    text-decoration: none;
    max-width: 140px;
    margin-bottom: 19px;
}

.footer__logo-title {
    font-family: Adobe Garamond Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    letter-spacing: 0.15em;
    color: #FFFFFF;
    margin-bottom: 4px;
}

.footer__logo-subtitle {
    display: block;
    font-family: Adobe Garamond Pro;
    font-style: normal;
    text-align: center;
    font-weight: bold;
    font-size: 12px;
    letter-spacing: 0.6em;
    color: #FFFFFF;
}

.footer__logo-text {
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 20px;
    color: #FFFFFF;
}

.footer__contacts-menu {
    list-style-type: none;
}

.footer__contacts-menu li+li {
    padding-top: 20px;
}

.footer__contacts-item {
    text-decoration: none;
    font-style: normal;
    font-weight: 700;
    font-size: 19px;
    color: #F7F7F7;
}

.footer__sotial-menu {
    list-style-type: none;
}

.footer__sotial-menu li+li {
    padding-top:12px;
}

.footer__sotial-item {
    display: flex;
    align-items: center;
    text-decoration: none ;
    font-style: normal;
    font-weight: 700;
    font-size: 19px;
    color: #F7F7F7;
}

.footer__sotial-item svg {
    margin-right: 15px;
}

.footer__foorm-label {
    display: block;
    font-style: normal;
    font-weight: 700;
    font-size: 19px;
    color: #FFFFFF;
    margin-bottom: 34px;
}

.footer__form-elements {
    display: flex;
}

.footer__form-input {
    padding: 16px 26px;
    background-color: #14274A;
    color: #FFFFFF;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    border: 3px solid #E0B973;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

.footer__form-input:focus,
.footer__form-input:focus {
    outline: none;
}

.footer__form-input::placeholder { color: #FFFFFF; } 

.footer__form-button {
    background-color: #E0B973;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    color: #14274A;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    padding: 19px 25px;
}   

/* MOBILE */

@media (max-width: 1585px) {
    
    .footer__container {
        margin: 0 auto;
        padding: 92px 27px 66px 27px;
    }
}


@media (max-width: 1080px) {
    

}

@media (max-width: 800px) {

}

@media (max-width: 576px) {
    
}

@media (max-width: 428px) {

}

@media (max-width: 360px) and (min-width: 320px) {
    
}